.pixel-art {
	position: relative;
	top: 0;
	left: 0;
	height: 1px;
	width: 1px;
	box-shadow:

0px 0px #000000,
1px 0px #101010,
2px 0px #2F2F2F,
3px 0px #565656,
4px 0px #767676,
5px 0px #7E7E7E,
6px 0px #A5A5A5,
7px 0px #C5C5C5,
8px 0px #DCDCDC,
9px 0px #3F1B1B,
10px 0px #3F3737,
11px 0px #431010,
12px 0px #4F1010,
13px 0px #4F1F1F,
14px 0px #5E1F1F,
15px 0px #761010,
0px 1px #8A1010,
1px 1px #8E1010,
2px 1px #AD1010,
3px 1px #C51010,
4px 1px #D81010,
5px 1px #DC1010,
6px 1px #E84343,
7px 1px #DC1310,
8px 1px #621310,
9px 1px #861310,
10px 1px #951710,
11px 1px #721B13,
12px 1px #DC2B17,
13px 1px #DC7266,
14px 1px #3F1F17,
15px 1px #763727,
0px 2px #DC5E3F,
1px 2px #B5A5A1,
2px 2px #DC4310,
3px 2px #4F2717,
4px 2px #DCA58A,
5px 2px #56473F,
6px 2px #824727,
7px 2px #914310,
8px 2px #916E56,
9px 2px #DC6610,
10px 2px #A14F10,
11px 2px #4B2B10,
12px 2px #5E3310,
13px 2px #D47210,
14px 2px #DC821B,
15px 2px #6A4310,
0px 3px #372710,
1px 3px #76521F,
2px 3px #AD9572,
3px 3px #A58E66,
4px 3px #825A10,
5px 3px #996A10,
6px 3px #7E6227,
7px 3px #9D8656,
8px 3px #9D7610,
9px 3px #916E10,
10px 3px #B18A1F,
11px 3px #D8A910,
12px 3px #C59D10,
13px 3px #D8AD10,
14px 3px #5A4B10,
15px 3px #A18A10,
0px 4px #6A5E10,
1px 4px #D0C110,
2px 4px #A9A110,
3px 4px #DCD410,
4px 4px #4B4B10,
5px 4px #DCDC3F,
6px 4px #B1B166,
7px 4px #91918A,
8px 4px #B1C16A,
9px 4px #627E10,
10px 4px #4B9D13,
11px 4px #133710,
12px 4px #134310,
13px 4px #1BC117,
14px 4px #103310,
15px 4px #103710,
0px 5px #136213,
1px 5px #108210,
2px 5px #109110,
3px 5px #10A510,
4px 5px #10C110,
5px 5px #10C510,
6px 5px #10D010,
7px 5px #10DC10,
8px 5px #107613,
9px 5px #105E17,
10px 5px #107E1F,
11px 5px #10D8C5,
12px 5px #10C1B1,
13px 5px #10A59D,
14px 5px #107E7A,
15px 5px #10DCDC,
0px 6px #72DCDC,
1px 6px #10B5DC,
2px 6px #10A5C9,
3px 6px #1099D8,
4px 6px #107ADC,
5px 6px #135ADC,
6px 6px #175ADC,
7px 6px #7E99DC,
8px 6px #565E76,
9px 6px #ADB9DC,
10px 6px #5E7ADC,
11px 6px #474F6E,
12px 6px #1037DC,
13px 6px #101076,
14px 6px #3F3F66,
15px 6px #37376E,
0px 7px #4F4F6E,
1px 7px #56566E,
2px 7px #1010B1,
3px 7px #1313D4,
4px 7px #B1A5DC,
5px 7px #2F1F66,
6px 7px #2F2747,
7px 7px #473F5E,
8px 7px #3F374F,
9px 7px #B591DC,
10px 7px #AD7ADC,
11px 7px #A55EDC,
12px 7px #9943D4,
13px 7px #8E43A1,
14px 7px #863399,
15px 7px #DCA1DC,
0px 8px #DCB1DC,
1px 8px #DCC9DC,
2px 8px #DC86CD,
3px 8px #DC2FBD,
4px 8px #D81091,
5px 8px #DC66A9,
6px 8px #7E1347,
7px 8px #1F1017,
8px 8px #BD1062,
9px 8px #9D104B,
10px 8px #DC8A95,
11px 8px #5E1317,
12px 8px #000000,
13px 8px #000000,
14px 8px #000000,
15px 8px #000000;
}
